body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  .banner {
    position: relative; /* Ensure positioning context for the logo */
    height: 100px; /* Adjust the height of the banner */
    background-color: #333; /* Optional: Set a background color for the banner */
  }
  
  .banner img {
    width: 80px; /* Set the width of the logo */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Position the logo relative to its parent */
    top: 10px; /* Adjust top position */
    left: 10px; /* Adjust left position */
  }
  
  main {
    padding: 20px;
  }
  
  #user-profiles {
    margin: 0 auto; /* Set left and right margins to auto to horizontally center the element */
    width: 65%; /* Adjust the width of the container if needed */
    max-width: 800px; /* Optionally set a maximum width for the container */
  }
  
  .user-profile {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 45%;
  }
  
  #profile-app {
    margin-top: 30px;
  }
  